<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', path='/tailwind-output.css') }}" rel="stylesheet" type="text/css"/>
    
    {# https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css #}
    <link href="{{ url_for('static', path='/daisyui.4.12.10.full.min.css') }}" rel="stylesheet" type="text/css"/>
    
    {# https://unpkg.com/htmx.org@2.0.0 #}
    <script type="module" src="{{ url_for('static', path='/lib/htmx.2.0.0.min.js') }}"></script>

    {# https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js #}
    <script defer src="{{ url_for('static', path='/lib/alpinejs.3.14.1.min.js') }}"></script>

    {# https://cdn.jsdelivr.net/npm/d3@7.9.0/dist/d3.min.js #}
    <script src="{{ url_for('static', path='/lib/d3.7.9.0.min.js') }}"></script>

    {# https://cdn.socket.io/4.7.5/socket.io.min.js #}
    <script src="{{ url_for('static', path='/lib/socket.io.4.7.5.min.js') }}"></script>

    <script>
      let settings = {{ctx_settings|tojson}};
      console.log(settings);
    </script>

    <script type="module" src="{{ url_for('static', path='/index.js') }}"></script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-span-4">
        <div id="main_chart"></div>
      </div>
      <div class="col-span-2">
        <div class="flex gap-1 mt-1">
          <div class="flex items-center justify-center bg-black text-white rounded text-2xl font-extrabold w-24"
               x-data="{ timer : '0:00' }"
               x-init="io().on('update_timer', 
               (t) => { 
                  timer = 
                  Math.floor(Math.round(t) / 60).toString() +
                            ':' +
                            (Math.round(t) % 60).toString().padStart(2, '0')
               });"
               >
            <span x-text="timer">
          </div>
        </div>
        <div class="flex gap-1 mt-1">
          <button
            class="btn"
            hx-post="/on"
            hx-trigger="click"
            hx-target="closest div"
            hx-swap="outerHTML"
          >
            on
          </button>
        </div>
        <div class="flex gap-1 mt-1">
          <div class="flex items-center justify-center rounded text-2xl font-extrabold w-24 bg-gray-300"
               x-data="{ bt : 0 }"
               x-init="io().on('read_device', 
               (channels) => { 
                  bt = channels[0].current_data;
               });"
               >
            <span x-text="bt">
          </div>
          <div class="flex items-center justify-center rounded text-2xl font-extrabold w-24 bg-gray-300"
               x-data="{ et : 0 }"
               x-init="io().on('read_device', 
               (channels) => { 
                  et = channels[1].current_data;
               });"
               >
            <span x-text="et">
          </div>
          <div class="flex items-center justify-center rounded text-2xl font-extrabold w-24 bg-gray-300"
               x-data="{ inlet : 0 }"
               x-init="io().on('read_device', 
               (channels) => { 
                  inlet = channels[2].current_data;
               });"
               >
            <span x-text="inlet">
          </div>
        </div>
      </div>
    </div>

    
  </body>
</html>
