<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{{ url_for('static', path='/tailwind-output.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.10/dist/cdn.min.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script
      type="module"
      src="{{ url_for('static', path='/index.js') }}"
    ></script>
  </head>
  <body>
    <button class="btn" hx-post="/connect" hx-trigger="click">connect</button>
    <button class="btn" hx-post="/start" hx-trigger="click">start</button>
    <button class="btn" hx-post="/stop" hx-trigger="click">stop</button>

    <h1>
      <button hx-get="/hello" hx-swap="outerHTML">Click Me</button>
    </h1>
    <h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>
    <div id="container"></div>
  </body>
</html>
