<table class="w-full font-['Consolas'] divide-y text-right "> 
    <thead>
        <tr class="">
        <th><pre>max</pre></th>
        <th class="bg-slate-200"><pre>150 160</pre></th>
        <th><pre>170 180</pre></th>
        <th class="bg-slate-200"><pre>188 FC</pre></th>
        <th><pre>10%</pre></th>
        </tr>
    </thead>
    <tbody class="divide-y divide-dashed">
        <tr>
            <td>
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-1" class="w-3 h-3"/>
                <pre> 110</pre>
            </div>
            </td>
            <td class="bg-slate-200">
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-2" class="w-3 h-3"/>
                <pre> 100  85</pre>
            </div>
            </td>
            <td>
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-3" class="w-3 h-3"/>
                <pre> 70  55</pre>
            </div>
            </td>
            <td class="bg-slate-200">
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-4" class="w-3 h-3"/>
                <pre> 40 35</pre>
            </div>
            </td>
            <td>
            <div class="flex justify-end items-center">
                <pre></pre>
            </div>
            </td>  
        </tr>
        <tr>
            <td>
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-1" class="w-3 h-3"/>
                <pre> 105</pre>
            </div>
            </td>
            <td class="bg-slate-200">
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-2" class="w-3 h-3"/>
                <pre>  95  80</pre>
            </div>
            </td>
            <td>
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-3" class="w-3 h-3"/>
                <pre> 65  50</pre>
            </div>
            </td>
            <td class="bg-slate-200">
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-4" class="w-3 h-3"/>
                <pre> 35 30</pre>
            </div>
            </td>
            <td>
            <div class="flex justify-end items-center">
                <pre></pre>
            </div>
            </td>  
        </tr> 
        <tr>
            <td>
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-1" class="w-3 h-3" checked="checked"/>
                <pre> 100</pre>
            </div>
            </td>
            <td class="bg-slate-200">
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-2" class="w-3 h-3" checked="checked"/>
                <pre>  90  75</pre>
            </div>
            </td>
            <td>
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-3" class="w-3 h-3" checked="checked"/>
                <pre> 60  45</pre>
            </div>
            </td>
            <td class="bg-slate-200">
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-4" class="w-3 h-3" checked="checked"/>
                <pre> 30 25</pre>
            </div>
            </td>
            <td>
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-5" class="w-3 h-3" checked="checked"/>
                <pre> 20</pre>
            </div>
            </td>  
        </tr>
        <tr>
            <td>
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-1" class="w-3 h-3"/>
                <pre>  95</pre>
            </div>
            </td>
            <td class="bg-slate-200">
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-2" class="w-3 h-3"/>
                <pre>  85  70</pre>
            </div>
            </td>
            <td>
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-3" class="w-3 h-3"/>
                <pre> 55  40</pre>
            </div>
            </td>
            <td class="bg-slate-200">
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-4" class="w-3 h-3"/>
                <pre> 25 20</pre>
            </div>
            </td>
            <td>
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-5" class="w-3 h-3"/>
                <pre> 15</pre>
            </div>
            </td>  
        </tr>
        <tr>
            <td>
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-1" class="w-3 h-3"/>
                <pre>  90</pre>
            </div>
            </td>
            <td class="bg-slate-200">
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-2" class="w-3 h-3"/>
                <pre>  80  65</pre>
            </div>
            </td>
            <td>
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-3" class="w-3 h-3"/>
                <pre> 50  35</pre>
            </div>
            </td>
            <td class="bg-slate-200">
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-4" class="w-3 h-3"/>
                <pre> 20 15</pre>
            </div>
            </td>
            <td>
            <div class="flex justify-end items-center">
                <input type="radio" name="radio-5" class="w-3 h-3"/>
                <pre> 10</pre>
            </div>
            </td>  
        </tr> 
    </tbody>
</table>